<!DOCTYPE html>
<html>
<body>

<h1>Player Form</h1>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{form_key.as_p }}
    <input type="submit" value="submit" {% if form_disabled %} disabled{% endif %}>
</form>
<form method="POST" action="{% url 'reset' %}">
    {% csrf_token %}
    <input type="submit" value="Reset">
</form>

{% if users_list %}
<h2>Les joueurs :</h2>
  <ul>
    {% for name in users_list %}
      <li>{{ name }}</li>
    {% endfor %}
  </ul>
{% endif %}


{{start}}
</body>
</html>
